*{
    margin: 0;
    padding: 0;
}
#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    margin: 1rem auto;
    background:url(track.jpg) ;
    background-size: contain;
    overflow: hidden;
}
#bluecar{
    height: 100px;
    width: 130px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 1s linear  infinite  ;

}
#bluecar img{
    height: 100px;
}
@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top: 501px;
    }
    
}
#racecar{
    height: 100px;
    width: 130px;
    background-color: red;
    position: relative;
    top: 250px;
    left: 130px;
    text-align: center;
}
#racecar img{
    height: 100px;
}

#result{
    height: 400px;
    width: 600px;
    background-color: rgb(217, 224, 7);
    margin:  1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: rgb(18, 149, 236);
    display:none;
}
#score{
    font-size: 3.2rem;
    color: rgb(26, 6, 157);
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: cyan;
    font-size: 40px;
    margin-top: 60px;
    cursor: pointer;
    text-transform: uppercase;
}